<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Random MANAGERS Home Page</title>
</head>
<body class="p-3 mb-2 bg-light text-dark">

<h2 class="fw-semibold">Random LEADERS Home Page For MANAGER</h2>

<hr>

<div class="p-3 bg-info bg-opacity-10 border border-info border-start-3 rounded mt-4">
    <p class="fst-normal">
        See you in Brazil ... for our annual Leadership meeting!
        <br>
        This info is for Manager only, because it is TOP SECRET.
    </p>
</div>

<a th:href="@{/}" class="btn btn-outline-dark btn-sm mt-4">Back to Home Page</a>

</body>
</html>








